@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sol  {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.sol  div:nth-child(3){
  display: flex;
  flex-direction: column;
}
.sol a  {
  color: rgb(36, 78, 133);
}

.text-shadow {
  text-shadow: 0 0 50px #000,;
}